
.infoBox {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--contrast-color);
    overflow: auto;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Spline Sans', sans-serif;
    font-weight: 200;
  
}


.title {
    font-size: 3em;
    line-height: 0.8;
    font-family: 'Spline Sans', sans-serif;
    font-weight: 200; 
    animation: fadeIn 3s ease-out; 
    animation-fill-mode: forwards;
}

.title-bottom-margin {
    margin-bottom: 60px; 
}

.text {
    font-size: 1em;
    margin: 0;
    color: white;
    font-family: 'Spline Sans', sans-serif;
    font-weight: 200; 
    animation: fadeIn 3s ease-out; 
    animation-fill-mode: forwards;
}

.ending {
    font-size: 2em;
    margin-top: 20px;
    font-weight: 200; 
    animation: fadeIn 3s ease-out; 
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    .infoBox {
        width: 100%!important;
        
    }
    .title {
        margin-bottom: 20px;
        font-size: 2em!important;
    }
    .text {
        font-size: 0.8em;
    }
    .ending {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
.infoBox {
  width: 100%!important;
  height: 300px!important;
}

.title {
    margin-bottom: 20px;
  font-size: 1.3em!important;

}
.ending {
    font-size: 1em!important;
}

.text {
    font-size: 0.8em!important;
}
}