/* CreateTaskModal.css */

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
  
  .ReactModal__Content {
    top: 54% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    width: 700px!important;
    height: 580px !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    z-index: 1000 !important;
  }
  
  .modal-create-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    position: relative; 
  }
  
  .modal-create-task-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .modal-create-task-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-create-task-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .action-button, .create-button, .cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-button {
    background-color: #0079bf;
    color: #fff;
  }
  
  .create-button {
    background-color: #5aac44;
    color: #fff;
  }

  .task-actions {
    position: absolute;
    right: 20px; /* Adjust based on your layout */
    top: 0; /* Align with the top of the header */
    display: flex;
    gap: 10px; /* Maintain some space between buttons */
  }

.members-box {
  position: absolute;
  right: 0;
  top: 25%; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  z-index: 1000;
  display: none; 
}

/* Additional CSS to show the members-box when Members button is clicked */
/* This requires toggling a class or style in your JavaScript to display the box */
.show-members-box {
    display: block;
  }
  
  .members-box div {
    cursor: pointer;
    display: flex;
    align-items: center;
 
  }
  
  .members-box div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .modal-content-container {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-info, .task-actions {
    display: flex;
    flex-direction: column;
  }
  
  .task-actions {
    justify-content: flex-start;
    padding-left: 20px; 
    margin-top: 20%;
  }
  
