.button{
    --bs-btn-color: var(--contrast-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-bg-hover: var(--secondary-color);
    --bs-btn-color-hover: color-mix(in srgb, var(--contrast-color), black 25%);
    border: none;
    margin-inline:1rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: var(--secondary-color);
    color: color-mix(in srgb, var(--contrast-color), black 25%);
}