.settings-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;

}

.cardManagers {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 52vh;
    overflow-y: auto;
}



.settings-card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-card h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.cardManagers h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.settings-card .form-group {
    margin-bottom: 20px;
}

.settings-card .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.manager-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.manager-name {
    font-size: 1rem!important;
    margin-left: 10px;
    color: var(--dark-color);
}