.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard .container {
    flex-grow: 1;
}


.dashboard h1 {
    color: var(--contrast-color);
    margin: 7%;
    margin-bottom: 5%!important;
    text-align: center;
}

.dashboard h2 {
    color: black;
    font-weight: bold;
    text-align: center;
}

.chart-content .card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.chart-content .recharts-default-tooltip {
    font-size: 0.75rem; 
}

.chart-content .recharts-legend-item {
    font-size: 0.75rem; 
}



.card-title-dashboard {
    color: black!important;
    font-weight: bold;
    margin: 1rem;
    margin-bottom: 0.5rem; 
}


.card-body {
    padding: 1rem; 
}

.chart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-top: none;
    width: 90%;
}
