.project-card-card {
    margin: 3rem;
    width: 350px; 
    height: 600px; 
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; 
}

.project-card-card:hover {
    transform: scale(1.05);
}

.project-content-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%;
    padding: 0.5rem;
}


.project-card-card-title {
    font-family: 'Spline Sans', sans-serif;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    color: var(--contrast-color);
 
}

.project-card-card-text {
    margin: 10px;
    width: 90%;
    display: -webkit-box;
    color: var(--contrast-color);
    font-family: 'Outfit', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
  
}

.project-card-badge-dark, .project-card-badge-light {
    margin: 0.2rem;
    color: var(--contrast-color);
    background-color: var(--primary-color) !important;
    border: 0.2px solid rgb(209, 209, 209);
    border-radius: 10px; 
    
}

.project-card-card-img-top {
    max-height: 150px; 
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
}
.adjust{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.project-card-btn {
    display: flex;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--contrast-color);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: auto; 
    width: 60%;
    align-items: center;
    justify-content: center;

}

.project-card-btn:hover {
    background-color: var(--details-color);
    color: var(--contrast-color);
}
.project-card-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.project-card-btn-container {
    margin-top: auto; /* Push the button container to the bottom */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}


.project-card-status {
    position: relative;
    width: 90%;
    border-radius: 5px;
    border: 1px solid var(--contrast-color);
    margin: 10px auto;
    color: var(--contrast-color);
    font-size: 0.8rem;
    z-index: 1;
    padding: 0.2rem;
    text-align: left;
  }
  
  .project-card-status-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
  }
  
  
  .project-card-status-planning .project-card-status-bar {
    width: 20%;
    background-color: #f0ad4e; 
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    z-index: -1;
  }
  
  .project-card-status-ready .project-card-status-bar {
    width: 40%;
    background-color: #5bc0de; 
    clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
    z-index: -1;
  }
  
  .project-card-status-approved .project-card-status-bar {
    width: 60%;
    background-color: #5cb85c; 
    clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
    z-index: -1;
  }
  
  .project-card-status-in-progress .project-card-status-bar {
    width: 80%;
    background-color: #9370db; 
    clip-path: polygon(0% 0%, 100% 0%, 20% 100%, 0% 100%);
    z-index: -1;
  }
  
  .project-card-status-cancelled .project-card-status-bar {
    width: 100%;
    background-color: #d9534f; 
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    z-index: -1;
  }
  
  .project-card-status-finished .project-card-status-bar {
    width: 100%;
    background-color: #6c757d; 
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
    z-index: -1;
  }
  