@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-users {
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
}

.banner-users img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slideIn 3s ease-out forwards; 
    position: relative;
    z-index: -1; 
    filter: brightness(50%);
}

.banner-users::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1); 
    z-index: -1;
}

.banner-users-text {
    position: absolute;
    top: 25%;
    left: 4%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 2em;
    animation: slideIn 3s ease-out forwards;
}
.banner-users-text p {
    margin: 0 0 0.2em; 
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}