.messages-container {
    border: 3px solid var(--details-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    min-height: 100vh;
}

  
  .message-sidebar-container {
    background-color: var(--secondary-color);
    height: 100vh;
    padding-top: 1rem;
    border-right: 1px solid #ddd;
  }
  
  .conversation-container {
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .sidebar-container,
    .message-sidebar-container,
    .conversation-container {
      padding: 0;
    }
  
    .message-sidebar-container,
    .conversation-container {
      height: auto;
    }
  }