.messages-container {
  
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: white;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

  
  .message-sidebar-container {
    background-color: var(--secondary-color);
    height: 110vh;
    padding-top: 1rem;
    border-right: 1px solid #ddd;
  }

  .side-bar-column {
    background-color: var(--details-color);
    border: none;
    border-radius: 5px;
    margin: 0;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 768px) {
    .side-bar-column{
      height: 30vh;
      border-bottom: 1px solid #868686;
      margin-bottom: 10px;
    }
  }

  
  
  .conversation-container {
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .sidebar-container,
    .message-sidebar-container,
    .conversation-container {
      padding: 0;
    }
  
    .message-sidebar-container,
    .conversation-container {
      height: auto;
    }
  }