.new-project {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

.new-project .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-project .sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.new-project .content-wrapper {
  margin-left: 200px;
  padding: 80px 40px 40px;
  width: calc(100% - 200px);
}

.new-project .content-new-project {
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 0px !important;
  margin-top: -30px !important;
}

.new-project .submit-button {
  margin-top: 20px;
}

.avatar {
  width: 500px;
  height: 200px;
  display: block;
  margin-top: 10px;
  object-fit: cover;
}

.short-input {
  max-width: 500px;
}

.long-input {
  max-width: 700px;
}

.new-project .centered-title {
  text-align: center;
  margin: 3rem;

}

.textarea-input {
  height: 150px;
}

.new-project .my-form-group {
  margin-bottom: 20px;
  margin-top: 20px; 
}

.new-project label {
  font-weight: bold;
}