.container {
    margin: 10rem auto; /* Aumentar a margem superior para mover o conteúdo para baixo */
    width: 80%; /* Ajustar a largura do container */
}

.card {
    width: 100%; /* O card ocupará a largura completa do container */
    height: auto;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 2rem;
}

.card-title {
    font-size: 2rem;
    margin: 40px;
    text-align: center;
}

.card-text-project {
    font-size: 1rem;
    margin-bottom: 40px;
}

.badge-dark, .badge-light {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    color: black;
    background-color: white;
    border: 0.2px solid rgb(209, 209, 209);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.app-container {
    display: flex;
}

.project-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: 6rem; /* Adicionar uma margem superior para separação visual */
}

.project-team-member {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.project-team-member-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs {
    display: flex;
    justify-content: center; /* Centraliza as abas horizontalmente */
    margin-bottom: 2rem; /* Adicionar uma margem inferior para separação visual */
    border-bottom: 1px solid #ddd; /* Adicionar uma borda inferior para separação visual */
    margin-left: 2rem;
    margin-bottom: 0px;
}

.nav-tabs .nav-link {
    width: 33.2%;
    margin-bottom: -1px; /* Ajusta a margem inferior para sobrepor a borda do card */
}

.nav-tabs .nav-link.active {
    border-color: #ddd #ddd #fff; /* Remove a borda inferior da aba ativa */
}
