.card-text-project {
    font-size: 1rem;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

.w-100 {
margin: 0px; 
margin-bottom: 0px!important; 
}

.project-team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.project-team-member-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.project-team-member-name {
    text-align: center;
    font-size: 0.9rem;
}

.container {
    margin: 10rem auto; 
    width: 100%; 
}

.card {
    width: 100%; 
    height: auto;
    background-color: white;
    border: 1px solid var(--primary-color);
    margin-left: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 0px !important;
    border-top: 1px solid var(--contrast-color);
}

.card-title-project-info{
    font-size: 2rem;
    margin: 40px;
    text-align: center;
    color: black;
}

.badge-dark, .badge-light {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: black;
    background-color: white;
    border: 0.2px solid rgb(209, 209, 209);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.app-container {
    display: flex;
}

.project-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.nav-tabs {
    display: flex;
    justify-content: center; 
    margin-bottom: 2rem; 
    border-bottom: 1px solid #ddd; 
    margin-left: 2rem;
    margin-bottom: 0px;
}

.nav-tabs .nav-link {
    width: 33.2%;
    margin-bottom: -1px; 
}

.nav-tabs .nav-link.active {
    border-color: var(--contrast-color) var(--contrast-color)  var(--contrast-color);
    background-color: var(--contrast-color);
    color: var(--primary-color);

    
}

.btn-project-apply {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    border: none;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    font-size: 1rem;
    cursor: pointer;
    height: 50px;
    width: 300px!important;
    margin: 20px;
    align-items: center;
    transition: transform 0.3s ease; 
}

.btn-project-apply:hover {
    background-color: var(--details-color);
    color: var(--contrast-color);
    transform: scale(1.1);
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }
  .status-options {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
  }