.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0; 
    z-index: 10000;
    position: relative;
}

.footer h5 {
    font-size: 0.8em; 
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 0.5em; 
    margin-bottom: 5px;
}

.footer p {
    font-size: 0.5em; 
    margin-bottom: 5px;
}