.footer {
    background-color: var(--contrast-color);
    color: #fff;
    z-index: 10000;
    bottom: 0;
    height: 200px;
    width: 100%;
}



.footer h5 {
    font-size: 0.8em; 
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 0.5em; 
    margin-bottom: 5px;
}

.footer p {
    font-size: 0.5em; 
    margin-bottom: 5px;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    margin-left: 70px;
    margin-top: 40px;
}