.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .logo-img {
    margin-left: 20px;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .button,
  .button2,
  .language-button {
    border: none;
    margin-inline: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button {
    --bs-btn-color: var(--contrast-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-bg-hover: var(--secondary-color);
    --bs-btn-color-hover: color-mix(in srgb, var(--contrast-color), black 25%);
  }
  
  .button2 {
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: var(--contrast-color);
    --bs-btn-bg-hover: var(--secondary-color);
    --bs-btn-color-hover: color-mix(in srgb, var(--contrast-color), black 25%);
  }
  
  .language-button {
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: transparent;
    --bs-btn-bg-hover: var(--secondary-color);
    --bs-btn-color-hover: color-mix(in srgb, var(--contrast-color), black 25%);
    margin-inline: 0.2rem;
  }
  
  .language-buttons {
    display: flex;
    gap: 0.2rem;
  }
  
  .language-button {
    border-right: none;
  }
  
  .language-button:last-child {
    border-left: none;
  }
  
  .language-button:first-child::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: var(--bs-btn-color);
    margin-left: 0.2rem;
    margin-right: -0.2rem;
    vertical-align: middle;
  }
  
  .button2:hover,
  .button:hover,
  .language-button:hover {
    background-color: var(--secondary-color);
    color: color-mix(in srgb, var(--contrast-color), black 25%);
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-name {
    color: var(--dark-color);
  }

  .messages-icon {
    color: var(--dark-color);
    cursor: pointer;
    
  }
  