.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.logo img {
  width: 160px; 
  height: 40px; 
}

.actions {
  display: flex;
  align-items: center;
}

.icon-links {
  display: flex;
  align-items: center;
  gap: 100px; 
  margin-right: 200px;
}

.header-icon {
  color: var(--contrast-color);
  font-size: 1.5rem; 
  cursor: pointer;
  transition: transform 0.3s ease; 

}

.header-icon:hover {
  color: var(--dark-color);
  transform: scale(1.2);

}

.header-icon-notification {
  color: var(--primary-color);
  font-size: 1.5rem; 
  cursor: pointer;
  background-color: var(--contrast-color);
  border-radius: 50%;
  padding: 5px;
  rotate: 45deg;
  margin-right: 20px;
}

.button,
.language-button {
  border: none!important;
  border-radius: 5px!important;
  cursor: pointer!important;
  padding: 5px!important;
}

.button2 {
  border: none !important;
  margin-inline: 1rem !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: var(--contrast-color) !important;
  color: white !important;
  padding: 0.7rem 2.2rem !important;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: var(--details-color) !important;
  color: var(--contrast-color) !important;

}


.language-buttons {
  display: flex;
  margin-left: 20px;
}

.language-button {
  border-right: none;
  display: flex;
}

.language-button:last-child {
  border-left: none;
}

.language-button:first-child::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: var(--bs-btn-color);
  margin-left: 0.2rem;
  margin-right: -0.2rem;
  vertical-align: middle;
}

.button2:hover,
.button:hover,
.language-button:hover {
  background-color: var(--secondary-color);
  color: color-mix(in srgb, var(--contrast-color), black 25%);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name-header {
  color: var(--dark-color);
}

.messages-icon,
.notification-icon {
  color: var(--dark-color);
  cursor: pointer;
}

.custom-offcanvas .offcanvas {
  width: 100px !important; 
}
.offcanvas-menu {
  list-style: none;
  padding: 0;
}

.offcanvas-menu li {
  margin: 10px 0;
}

.offcanvas-menu a,
.offcanvas-menu button {
  color: var(--dark-color);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
}

.offcanvas-menu a:hover,
.offcanvas-menu button:hover {
  color: var(--secondary-color);
}

.button-login {
  border: none;
  border-radius: 20px!important;
  cursor: pointer;
  background-color: var(--primary-color)!important;
  color: var(--contrast-color)!important;
  padding: 0.7rem 2.2rem!important;
  transition: background-color 0.3s ease;
 
}

.button-login:hover {
  background-color: var(--primary-color)!important;
  color: var(--dark-color)!important;
  padding: 0.7rem 2.2rem;
}

.offcanvas-option:hover {
  background-color: #f0f0f0; 
}



.temas {
font-size: 14px!important;
}

.temas:hover {
  background-color: #b3b1b1; 
}

.notification-icon-wrapper {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease; 
}

.notification-icon-wrapper:hover {
  transform: scale(1.2);
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  left: 16px;
}
