.infoBox {
    position: sticky;
    top: 0;
    height: 300px;
    background-color: var(--dark-color);
    overflow: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 1.5em;
    font-weight: 300; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.text {
    font-size: 0.7em;
    margin: 0;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.ending {
    font-size: 1em;
    margin-top: 20px;
    font-weight: 300; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}