.user-image-project {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.simple-user-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; 
  }
 

  .header-with-invite {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .invite-button {
    /* Estilize seu botão conforme necessário */
  }
  
  .members-container h4, .invited-container h4, .applied-container h4{
    font-size: 16px; /* Tamanho menor para os títulos */
    margin-left: 20px;
    margin-bottom: 20px;
  }


  
  .members-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .simple-user-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px; 
  }
  
  .user-image-project {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
 

  .card-title {
    text-align: center;
color: white!important;
font-weight: normal!important;
font-size: 20px!important;

  }

  .card-header {
    width: 100%;
    text-align: center; 
    display: flex; 
    justify-content: center;
    padding: 10px 0; 
    background-color: var(--contrast-color);
  }

  .card-slots-avaliable {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
  }


