.large-modal .modal-dialog {
    max-width: 600px; 
    max-height: 800px;
    border-radius: 15px;
  }
  
  .users-modal-search {
    margin: 0 15px 15px;
  }
  
  .users-modal-user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .users-modal-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .users-modal-name {
    flex-grow: 1;
  }