.footer {
    background-color: var(--contrast-color);
    color: #fff;
    z-index: 10000;
    bottom: 0;
    height: 350px;
    width: 100%;
    margin-top: 100px;
}


.footer h5 {
    font-size: 1.2em; 
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Outfit', sans-serif;

}

.rights {
    font-size: 0.8em; 
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    margin-top: 10%;
    
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 0.8em; 
    margin-bottom: 5px;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.footer p {
    font-size: 0.8em; 
    margin-bottom: 5px;
    color: white;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background-color: var(--contrast-color);
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
    margin-left: 70px;
    margin-top: 40px;
}

@media (max-width: 480px) {
    .footer {
        height: 400px;
    
    }

    .footer-container {
        align-items: center;
        background-color: var(--contrast-color);

    }

    .footer-section {
        margin-top: 40px;
    }
}

