:root {
  --primary-color: #f2f2f2;
  --secondary-color: #6c7577;
  --contrast-color: #2e6b75;
  --dark-color: #242423;
  --details-color: #b9cdd0;
}

body {
  background-color: var(--primary-color)!important;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
  --bs-primary: var(--contrast-color);
  --bs-primary-rgb: var(--contrast-color);
  --bs-btn-color: var(--primary-color);
  --bs-btn-bg: var(--contrast-color);
}

body.contrast {
  --primary-color: #e6eed6;
  --secondary-color: #dde2c6;
  --contrast-color: #a72608;
  --dark-color: #090c02;
  --details-color: #bbc5aa;
}

body.light {
  --primary-color: #f2f2f2;
  --secondary-color: #6c7577;
  --contrast-color: #2e6b75;
  --dark-color: #242423;
  --details-color: #b9cdd0;
  --cards-color: #ffffff;
}

body.dark {
  --primary-color: #2e3138;
  --secondary-color: #6c6f7d;
  --contrast-color: #b9cdd0;
  --dark-color: #ccc9e7;
  --details-color: #b9cdd0;
  --cards-color: #363c4a;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: var(--contrast-color)!important;
  color: var(--primary-color)!important;
  border: var(--contrast-color)!important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; 

}

.btn-primary:hover {
  background-color: var(--details-color)!important;
  color: var(--contrast-color)!important;
  border: var(--contrast-color)!important;
  transform: scale(1.1);
}

.btn-secondary {
  background-color: var(--details-color)!important;
  color: var(--contrast-color)!important;
  border: var(--contrast-color)!important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

.btn-secondary:hover {
  background-color: var(--secondary-color)!important;
  color: var(--primary-color)!important;
  border: var(--contrast-color)!important;
  transform: scale(1.1);
}

.btn {
  --bs-btn-color: var(--contrast-color);
  --bs-btn-bg: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-title {
  font-size: smaller;
  font-weight: bold;
  color: var(--dark-color);
  font-family: Arial, sans-serif;
  
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--secondary-color);
}
