:root {
--primary-color: #EEF1EF;
--secondary-color: #A9B4C2;
--contrast-color: #7D98A1;
--dark-color: #1C2321;
--details-color: #082d0f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--dark-color);
  --bs-primary: var(--contrast-color);
  --bs-primary-rgb: var(--contrast-color);
  --bs-btn-color: var(--primary-color);
  --bs-btn-bg: var(--contrast-color);
}
body.contrast{
  --primary-color: #e6eed6;
  --secondary-color: #dde2c6;
  --contrast-color: #a72608;
  --dark-color: #090c02;
  --details-color: #bbc5aa;
}
body.light{
  --primary-color: #c5e0d8;
  --secondary-color: #b5ffe9;
  --contrast-color: #ceabb1;
  --dark-color: #444545;
  --details-color: #c9c9c9;
}
body.dark{
  --primary-color: #2e3138;
  --secondary-color: #6c6f7d;
  --contrast-color: #60463b;
  --dark-color: #ccc9e7;
  --details-color: #856a5d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  --bs-btn-color: var(--contrast-color);
  --bs-btn-bg: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  --bs-btn-color: var(--contrast-color);
  --bs-btn-bg: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modal-title {
  font-size: smaller;
  font-weight: bold;
  color: var(--dark-color);
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--secondary-color);
}
.modal-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--secondary-color);
}
