
.inventory-container {
  flex: 1;
  width: 100%;
}

/* Botões */
.buttonAddResource, .buttonViewStats {
  font-size: 1rem;
  height: 50px;
  width: auto!important;
  margin: 10px 20px 10px 0!important;
  border: none;
  border-radius: 20px !important;
  cursor: pointer;
}

.buttonAddResource {
  background-color: var(--contrast-color)!important;
  color: var(--buttons-color)!important;
}

.buttonAddResource:hover {
  background-color: var(--details-color)!important;
  color: var(--contrast-color)!important;
}

.buttonViewStats {
  background-color: var(--contrast-color)!important;
  color: var(--buttons-color)!important;
  margin-left: auto!important; 
}

.buttonViewStats:hover {
  background-color: var(--details-color)!important;
  color: var(--contrast-color)!important;
}

/* Tabela de inventário */
.inventory-table {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative; /* Garante que a tabela seja relativa para posicionamento absoluto */
}

.inventory-table th, .inventory-table td {
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.inventory-table th {
  background-color: var(--details-color);
  color: black;
}

.inventory-table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.inventory-table tbody tr:hover {
  background-color: #e0e0e0;
}

/* Barra de pesquisa */
.input-group {
  flex: 1;
  max-width: none;
  margin-right: 20px;
}

.input-group .form-control {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Cabeçalho */
.inventory-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.inventory-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--contrast-color);
}

/* Paginação */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: var(--details-color);
  border-color: var(--dark-color);
}

.pagination .page-link {
  color: var(--dark-color);
}

/* Estilos de mídia para responsividade */
@media (max-width: 1200px) {
  .inventory-table th:nth-child(9),
  .inventory-table td:nth-child(9) {
    display: none;
  }
}

@media (max-width: 992px) {
  .inventory-table th:nth-child(3),
  .inventory-table td:nth-child(3) {
    display: none;
  }
  .inventory-header {
    flex-direction: column;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .search-input {
    display: flex;
    width: 100%;
  }

  .input-group {
    margin-right: 0;
    margin-left: 60%;
  }


  .buttonAddResource, .buttonViewStats {
    font-size: 0.8rem;
    height: 50px;
    width: auto!important;
    margin: 0px!important;
    border: none;
    border-radius: 20px !important;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .inventory-table th:nth-child(5),
  .inventory-table td:nth-child(5) {
    display: none;
    width: auto;
  }
  .input-group {
    margin-right: 0;
    margin-left: 40%;
  }
}

@media (max-width: 576px) {
  .inventory-table th:nth-child(7),
  .inventory-table td:nth-child(7) {
    display: none;
  }
}

@media (max-width: 480px) {
  .inventory-table th:nth-child(8),
  .inventory-table td:nth-child(8) {
    display: none;
  }
  
  .inventory-table th:nth-child(2),
  .inventory-table td:nth-child(2) {
    display: none;
  }

  .inventory-container {
    margin-left: 10%;
    width: 100%;
    margin-top: 15%;
  }

  .inventory-header {
    flex-direction: column;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0px;
  }

  .inventory-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* Manter coluna de edição visível */
.inventory-table th:nth-child(10),
.inventory-table td:nth-child(10) {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: var(--details-color);
}

.inventory-table th:nth-child(10) button,
.inventory-table td:nth-child(10) button {
  position: relative; /* Garante que o botão de editar mantenha a posição relativa */
  z-index: 2; /* Ajusta a posição z-index do botão de editar para estar acima da tabela */
}
