.white-box {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 100px;
    text-align: center;
    margin-top: 20px;
}

.content-box {
    width: 30%;
}

.content-box h2 {
    font-size: 3em;
    margin-bottom: 10px;
}