.blue-square {
    background-color: #2e6b75;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.white-card {
    background-color: white;
    width: 60%;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    margin: 5%;
    border-radius: 20px;
}

.white-card h1 {
    font-size: 3em;
    margin: 40px;
    color: #2e6b75;
}

.white-card p {
 
    margin: 20px;
    color: #6c7577;
}

.white-card img {
    width: 60%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.toggle-button-arrow {
    background-color: #2e6b75;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  @media (max-width: 992px) {

  }
  
  @media (max-width: 768px) {

  }
  
  @media (max-width: 576px) {

  }

  
  
  @media (max-width: 480px) {
 .blue-square {
    width: 90%;

}

.white-card {
    width: 90%;

  }

  .white-card h1 {
    font-size: 1em;
    margin: 20px;
  }

  .white-card p {
 
    margin: 20px;
    color: #6c7577;
    font-size: 0.5em;
}

}